<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiche.smp.mapper.ApplyChannelChangeMapper" >
  <resultMap id="BaseResultMap" type="com.yiche.smp.domain.ApplyChannelChange" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="applyUser" property="applyuser" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="applyChannel" property="applychannel" jdbcType="VARCHAR" />
    <result column="branch" property="branch" jdbcType="VARCHAR" />
    <result column="applyStartTime" property="applystarttime" jdbcType="DATE" />
    <result column="applyEndTime" property="applyendtime" jdbcType="DATE" />
    <result column="filename" property="filename" jdbcType="VARCHAR" />
    <result column="filepath" property="filepath" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="refuseReason" property="refusereason" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, applyUser, status, applyChannel, branch, applyStartTime, applyEndTime, filename, 
    filepath, number, message, createTime, refuseReason
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yiche.smp.domain.ApplyChannelChangeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from apply_channel_change
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from apply_channel_change
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from apply_channel_change
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yiche.smp.domain.ApplyChannelChangeExample" >
    delete from apply_channel_change
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yiche.smp.domain.ApplyChannelChange" >
    insert into apply_channel_change (id, applyUser, status, 
      applyChannel, branch, applyStartTime, 
      applyEndTime, filename, filepath, 
      number, message, createTime, 
      refuseReason)
    values (#{id,jdbcType=INTEGER}, #{applyuser,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{applychannel,jdbcType=VARCHAR}, #{branch,jdbcType=VARCHAR}, #{applystarttime,jdbcType=DATE}, 
      #{applyendtime,jdbcType=DATE}, #{filename,jdbcType=VARCHAR}, #{filepath,jdbcType=VARCHAR}, 
      #{number,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{refusereason,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yiche.smp.domain.ApplyChannelChange" >
    insert into apply_channel_change
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="applyuser != null" >
        applyUser,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="applychannel != null" >
        applyChannel,
      </if>
      <if test="branch != null" >
        branch,
      </if>
      <if test="applystarttime != null" >
        applyStartTime,
      </if>
      <if test="applyendtime != null" >
        applyEndTime,
      </if>
      <if test="filename != null" >
        filename,
      </if>
      <if test="filepath != null" >
        filepath,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="refusereason != null" >
        refuseReason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="applyuser != null" >
        #{applyuser,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="applychannel != null" >
        #{applychannel,jdbcType=VARCHAR},
      </if>
      <if test="branch != null" >
        #{branch,jdbcType=VARCHAR},
      </if>
      <if test="applystarttime != null" >
        #{applystarttime,jdbcType=DATE},
      </if>
      <if test="applyendtime != null" >
        #{applyendtime,jdbcType=DATE},
      </if>
      <if test="filename != null" >
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null" >
        #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="refusereason != null" >
        #{refusereason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yiche.smp.domain.ApplyChannelChangeExample" resultType="java.lang.Integer" >
    select count(*) from apply_channel_change
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update apply_channel_change
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.applyuser != null" >
        applyUser = #{record.applyuser,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.applychannel != null" >
        applyChannel = #{record.applychannel,jdbcType=VARCHAR},
      </if>
      <if test="record.branch != null" >
        branch = #{record.branch,jdbcType=VARCHAR},
      </if>
      <if test="record.applystarttime != null" >
        applyStartTime = #{record.applystarttime,jdbcType=DATE},
      </if>
      <if test="record.applyendtime != null" >
        applyEndTime = #{record.applyendtime,jdbcType=DATE},
      </if>
      <if test="record.filename != null" >
        filename = #{record.filename,jdbcType=VARCHAR},
      </if>
      <if test="record.filepath != null" >
        filepath = #{record.filepath,jdbcType=VARCHAR},
      </if>
      <if test="record.number != null" >
        number = #{record.number,jdbcType=VARCHAR},
      </if>
      <if test="record.message != null" >
        message = #{record.message,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.refusereason != null" >
        refuseReason = #{record.refusereason,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update apply_channel_change
    set id = #{record.id,jdbcType=INTEGER},
      applyUser = #{record.applyuser,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      applyChannel = #{record.applychannel,jdbcType=VARCHAR},
      branch = #{record.branch,jdbcType=VARCHAR},
      applyStartTime = #{record.applystarttime,jdbcType=DATE},
      applyEndTime = #{record.applyendtime,jdbcType=DATE},
      filename = #{record.filename,jdbcType=VARCHAR},
      filepath = #{record.filepath,jdbcType=VARCHAR},
      number = #{record.number,jdbcType=VARCHAR},
      message = #{record.message,jdbcType=VARCHAR},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      refuseReason = #{record.refusereason,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yiche.smp.domain.ApplyChannelChange" >
    update apply_channel_change
    <set >
      <if test="applyuser != null" >
        applyUser = #{applyuser,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="applychannel != null" >
        applyChannel = #{applychannel,jdbcType=VARCHAR},
      </if>
      <if test="branch != null" >
        branch = #{branch,jdbcType=VARCHAR},
      </if>
      <if test="applystarttime != null" >
        applyStartTime = #{applystarttime,jdbcType=DATE},
      </if>
      <if test="applyendtime != null" >
        applyEndTime = #{applyendtime,jdbcType=DATE},
      </if>
      <if test="filename != null" >
        filename = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null" >
        filepath = #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="refusereason != null" >
        refuseReason = #{refusereason,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yiche.smp.domain.ApplyChannelChange" >
    update apply_channel_change
    set applyUser = #{applyuser,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      applyChannel = #{applychannel,jdbcType=VARCHAR},
      branch = #{branch,jdbcType=VARCHAR},
      applyStartTime = #{applystarttime,jdbcType=DATE},
      applyEndTime = #{applyendtime,jdbcType=DATE},
      filename = #{filename,jdbcType=VARCHAR},
      filepath = #{filepath,jdbcType=VARCHAR},
      number = #{number,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      refuseReason = #{refusereason,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectAll" resultMap="BaseResultMap" >
    SELECT * from apply_channel_change ORDER BY id ASC
  </select>
   <!--业务申请部门的审核岗查看所有的申请列表-->
  <select id="selectAppltDeptUnCheckList" resultMap="BaseResultMap">
  	 select
        <include refid="Base_Column_List"/>
        from apply_channel_change  
        order by id ASC
  </select>
  <!--业务申请部门的操作岗查看【从未审核过】申请列表  -->
    <select id="selectCarryDeptOptionUnCheckList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from apply_channel_change
        where status =0
        order by id ASC
    </select>
     <!--数据监控部门的审核岗查看【从未审核过】申请列表-->
    <select id="selectCarryDeptAuditUnCheckList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from apply_channel_change
        where status =1
        order by id ASC
    </select>
   <!--经理岗审查  -->
    <select id="selectCarryDeptOptionCheckList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from apply_channel_change
        where status =2 
        order by id ASC
    </select>
   
   
   
     <!--业务申请部门的审核岗查看【审核过的通过】申请列表-->
    <select id="selectAppltDeptCheckList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from apply_channel_change 
        where branch=#{brand} and status =1 or status=2 or status=3 or status=4
        order by id ASC
    </select>

   
    <!--实施部门的审核岗查看【审核过通过】申请列表-->
    <select id="selectCarryDeptAuditCheckList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from apply_channel_change
        where status =3 or status=4
        order by id ASC
    </select>
     <!--修改审核信息-->
    <update id="updateCheckMes" parameterType="com.yiche.smp.domain.ApplyChannelChange">
        update apply_channel_change set
                status = #{status,jdbcType=INTEGER},
                refuseReason = #{refusereason,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>