<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiche.smp.mapper.ChannelNamesMapper">
    <select id="selectChannelNames" parameterType="map" resultType="com.yiche.smp.common.Channel">
        SELECT DISTINCT
		platformName,
	    channelName
        FROM
	(
		SELECT DISTINCT
			"易车APP"    platformName,
			a.channel_name channelName,
			platform_id platformId
		FROM
			yiche_app_app_leads_channel_day_all a,imp_platform_channel b
        where a.channel_name IS NOT NULL AND a.channel_id=b.channel_id AND platform_id='1'
		UNION
		SELECT DISTINCT
			"报价APP"    platformName,
			a.channel_name channelName,
			platform_id platformId
		FROM
			yiche_quote_app_leads_channel_day_all a,imp_platform_channel b
		where a.channel_name IS NOT NULL AND a.channel_id=b.channel_id AND platform_id='2'
		UNION
		SELECT DISTINCT
			"PCWAP"    platformName,
			a.channel_name channelName,
			platform_id platformId
		FROM
			yiche_pcwap_app_leads_channel_day_all a,imp_platform_channel b
		where a.channel_name IS NOT NULL AND a.channel_id=b.channel_id AND platform_id='3'
	) yiche_channelNames_sum
	<where>
		<if test="platformId != null">
			platformId = #{platformId}
		</if>
	</where>
    </select>
	<select id="selectPlatformNames" resultType="com.yiche.smp.common.Platform1">
		SELECT id,platformName FROM smp.imp_platform;
	</select>
</mapper>