<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiche.smp.mapper.ChannelConsumeMapper">
    <select id="getChannelSumConsume" parameterType="map" resultType="com.yiche.smp.common.GatherYicheAPP">
        SELECT
        platformName,channelName,leadsCnt,leadsUserCnt,actualConsume
        FROM
        (
        SELECT
        "易车APP" platformName,
        channel_name channelName,
        SUM(leads_cnt) leadsCnt,
        sum(leads_user_cnt) leadsUserCnt,
        sum(actual_consume) actualConsume
        FROM
        yiche_app_app_leads_channel_day_all
        <where>
            <if test="channelName!=NULL">
                channel_Name = #{channelName}
            </if>
            AND bt BETWEEN #{startTime}
            AND #{endTime}
            AND channel_id IN (
            SELECT
            channel_id
            FROM
            imp_platform_channel
            WHERE
            platform_name = "易车APP"
            )
            GROUP BY
            channel_name
        </where>
        UNION
        SELECT
        "报价APP" platformName,
        channel_name channelName,
        SUM(leads_cnt) leadsCnt,
        sum(leads_user_cnt) leadsUserCnt,
        sum(actual_consume) actualConsume
        FROM
        yiche_quote_app_leads_channel_day_all
        <where>
            <if test="channelName!=NULL">
                channel_Name = #{channelName}
            </if>
            AND bt BETWEEN #{startTime}
            AND #{endTime}
            AND channel_id IN (
            SELECT
            channel_id
            FROM
            imp_platform_channel
            WHERE
            platform_name = "报价APP"
            )
            GROUP BY
            channel_name
        </where>
        UNION
        SELECT
        "PCWAP" platformName,
        channel_name channelName,
        SUM(cluecount) leadsCnt,
        sum(clueusercount) leadsUserCnt,
        sum(actual_consume) actualConsume
        FROM
        yiche_pcwap_app_leads_channel_day_all
        <where>
            <if test="channelName!=NULL">
                channel_Name = #{channelName}
            </if>
            AND dt BETWEEN #{startTime}
            AND #{endTime}
            AND channel_id IN (
            SELECT
            channel_id
            FROM
            imp_platform_channel
            WHERE
            platform_name = "PCWAP"
            )
            GROUP BY
            channel_name
        </where>
        ) yiche_channel_consume_sum
        <where>
            <if test="platformName!=null">
                platformName=#{platformName}
            </if>
        </where>
    </select>

    <select id="getChannelDetailConsume" parameterType="map" resultType="com.yiche.smp.common.GatherYicheAPP">
        SELECT
        platformName,channelName,leadsCnt,leadsUserCnt,actualConsume,bt
        FROM
        (
        SELECT
        "易车APP" platformName,
        channel_name channelName,
        leads_cnt leadsCnt,
        leads_user_cnt leadsUserCnt,
        actual_consume actualConsume,
        bt bt
        FROM
        yiche_app_app_leads_channel_day_all
        <where>
            <if test="channelName!=NULL">
                channel_Name = #{channelName}
            </if>
            AND bt BETWEEN #{startTime}
            AND #{endTime}
            AND channel_id IN (
            SELECT
            channel_id
            FROM
            imp_platform_channel
            WHERE
            platform_name = "易车APP"
            )
        </where>
        UNION
        SELECT
        "报价APP" platformName,
        channel_name channelName,
        leads_cnt leadsCnt,
        leads_user_cnt leadsUserCnt,
        actual_consume actualConsume,
        bt bt
        FROM
        yiche_quote_app_leads_channel_day_all
        <where>
            <if test="channelName!=NULL">
                channel_Name = #{channelName}
            </if>
            AND bt BETWEEN #{startTime}
            AND #{endTime}
            AND channel_id IN (
            SELECT
            channel_id
            FROM
            imp_platform_channel
            WHERE
            platform_name = "报价APP"
            )
        </where>
        UNION
        SELECT
        "PCWAP" platformName,
        channel_name channelName,
        cluecount leadsCnt,
        clueusercount leadsUserCnt,
        actual_consume actualConsume,
        dt bt
        FROM
        yiche_pcwap_app_leads_channel_day_all
        <where>
            <if test="channelName!=NULL">
                channel_Name = #{channelName}
            </if>
            AND dt BETWEEN #{startTime}
            AND #{endTime}
            AND channel_id IN (
            SELECT
            channel_id
            FROM
            imp_platform_channel
            WHERE
            platform_name = "PCWAP"
            )
        </where>
        ) yiche_channel_consume_detail
        <where>
            <if test="platformName!=null">
                platformName=#{platformName}
            </if>
        </where>
    </select>




</mapper>