<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiche.smp.mapper.ConsumeDayEarlyWarningMapper">
    <select id="selectEarlyWarning" parameterType="map" resultType="com.yiche.smp.common.EarlyWarningData">
        SELECT
            c.platformName          platformName,
            c.actualConsume         actualConsume,
            c.leadsCnt              leadsCnt,
            c.bt                    bt,
            d.month_day_avgclue_cnt monthDayAvgclueCnt,
            d.base_number           baseNumber,
            d.day_budget            dayBudget,
            FORMAT(c.actualConsume,2) qfActualConsume,
            FORMAT(c.leadsCnt,0) qfLeadsCnt,
            FORMAT(d.day_budget,2) qfDayBudget
        FROM
            (
                SELECT
                    "易车APP"   platformName,
                    "1"         platformId,
                    SUM(actual_consume) actualConsume,
                    SUM(leads_cnt)   leadsCnt,
                    bt             bt
                FROM
                    yiche_app_app_leads_channel_day_all a, imp_platform_channel b
                WHERE
                    a.channel_id = b.channel_id
                    AND b.platform_id = '1'
                    AND
                    a.bt BETWEEN #{startTime}
                    AND #{endTime}
                    GROUP BY bt
                UNION
                SELECT
                    "报价APP"   platformName,
                    "2"         platformId,
                    SUM(actual_consume) actualConsume,
                    SUM(leads_cnt)   leadsCnt,
                    bt             bt
                FROM
                    yiche_quote_app_leads_channel_day_all a, imp_platform_channel b
                WHERE
                    a.channel_id = b.channel_id
                    AND b.platform_id = '2'
                    AND
                    a.bt BETWEEN #{startTime}
                    AND #{endTime}
                    GROUP BY bt
                UNION
                SELECT
                    "PCWAP"  platformName,
                    "3"         platformId,
                    SUM(actual_consume) actualConsume,
                    SUM(cluecount)   leadsCnt,
                    dt             bt
                FROM
                    yiche_pcwap_app_leads_channel_day_all a, imp_platform_channel b
                WHERE
                    a.channel_id = b.channel_id
                    AND b.platform_id = '3'
                    AND
                    a.dt BETWEEN #{startTime}
                    AND #{endTime}
                    GROUP BY dt
            ) c,
            yiche_month_data_standard d
        <where>
            <if test="platformId!=null">
                c.platformId = #{platformId}
            </if>
            AND c.platformId = d.platform_id
            AND d.month = #{month}
        </where>
    </select>

    <select id="selectMonthChannelConsumeData" parameterType="map" resultType="com.yiche.smp.common.EarlyWarningData">
        SELECT
            c.platformName platformName,
            c.actualConsume actualConsume,
            c.leadsCnt leadsCnt,
            d.month_day_avgclue_cnt monthDayAvgclueCnt,
            d.base_number baseNumber,
            d.day_budget dayBudget
        FROM
            (
                SELECT
                    "易车APP" platformName,
                    SUM(actual_consume) actualConsume,
                    SUM(leads_cnt) leadsCnt,
                    platform_id platformId
                FROM
                    yiche_app_app_leads_channel_day_all a,
                    imp_platform_channel b
                WHERE
                    a.channel_id = b.channel_id
                    AND bt BETWEEN #{startTime}
                    AND #{endTime}
                    AND platform_id = '1'
                GROUP BY
                    platform_id
                UNION
                SELECT
                    "报价APP" platformName,
                    SUM(actual_consume) actualConsume,
                    SUM(leads_cnt) leadsCnt,
                    platform_id platformId
                FROM
                    yiche_quote_app_leads_channel_day_all a,
                    imp_platform_channel b
                WHERE
                    a.channel_id = b.channel_id
                    AND a.bt BETWEEN #{startTime}
                    AND #{endTime}
                    AND platform_id = '2'
                GROUP BY
                    platform_id
                UNION
                SELECT
                    "PCWAP" platformName,
                    SUM(actual_consume) actualConsume,
                    SUM(cluecount) leadsCnt,
                    platform_id platformId
                FROM
                    yiche_pcwap_app_leads_channel_day_all a,
                    imp_platform_channel b
                WHERE
                    a.channel_id = b.channel_id
                    AND a.dt BETWEEN #{startTime}
                    AND #{endTime}
                    AND platform_id = '3'
                GROUP BY
                    platform_id
            ) c,
            yiche_month_data_standard d
        <where>
            <if test="platformId!=NULL">
                platformId=#{platformId}
            </if>
            AND c.platformId = d.platform_id
            AND d.month = #{month}
        </where>
    </select>

    <select id="getChannelDetailConsume" parameterType="map" resultType="com.yiche.smp.common.GatherYicheAPP">
        SELECT
        platformName,
        channelName,
        leadsCnt,
        leadsUserCnt,
        actualConsume,
        FORMAT(leadsCnt,0)    qfLeadsCnt,
        FORMAT(leadsUserCnt,0)   qfLeadsUserCnt,
        FORMAT(actualConsume,2)  qfActualConsume,
        bt
        FROM
        (
        SELECT
        "易车APP" platformName,
        a.channel_name channelName,
        leads_cnt leadsCnt,
        leads_user_cnt leadsUserCnt,
        actual_consume actualConsume,
        bt bt,
        platform_id platformId
        FROM
        yiche_app_app_leads_channel_day_all a,imp_platform_channel b
        WHERE a.channel_id=b.channel_id
        AND b.platform_id = '1'
        AND bt=#{bt}
        UNION
        SELECT
        "报价APP" platformName,
        a.channel_name channelName,
        leads_cnt leadsCnt,
        leads_user_cnt leadsUserCnt,
        actual_consume actualConsume,
        bt bt,
        platform_id platformId
        FROM
        yiche_quote_app_leads_channel_day_all a,imp_platform_channel b
        WHERE a.channel_id=b.channel_id
        AND b.platform_id = '2'
        AND bt=#{bt}
        UNION
        SELECT
        "PCWAP" platformName,
        a.channel_name channelName,
        cluecount leadsCnt,
        clueusercount leadsUserCnt,
        actual_consume actualConsume,
        dt bt,
        platform_id platformId
        FROM
        yiche_pcwap_app_leads_channel_day_all a,imp_platform_channel b
        WHERE a.channel_id=b.channel_id
        AND b.platform_id = '3'
        AND dt=#{bt}
        ) yiche_channel_consume_detail
        <where>
            <if test="platformId!=null">
                platformId=#{platformId}
            </if>
        </where>
    </select>

</mapper>