<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiche.smp.mapper.DisplayMonthReportMapper">
    <select id="selectSumDataMonth" parameterType="map" resultType="com.yiche.smp.common.GatherYicheAPP">
        SELECT
            SUM(leadsCnt)       leadsCnt,
            SUM(leadsUserCnt)   leadsUserCnt,
            SUM(actualConsume)  actualConsume,
            SUM(leadsCost)      leadsCost,
            month               month
        FROM
            (
                SELECT
                    SUM(leads_cnt)       leadsCnt,
                    SUM(leads_user_cnt)  leadsUserCnt,
                    SUM(actual_consume) actualConsume,
                    SUM(leads_cost)      leadsCost,
                    month                  month
                FROM
                    yiche_yiche_channel_month
                WHERE
                    month = #{month}
                UNION
                SELECT
                    SUM(leads_cnt)       leadsCnt,
                    SUM(leads_user_cnt)  leadsUserCnt,
                    SUM(actual_consume) actualConsume,
                    SUM(leads_cost)      leadsCost,
                    month                   month
                FROM
                    yiche_quote_channel_month
                WHERE
                    month = #{month}
                UNION
                SELECT
                    SUM(leads_cnt)       leadsCnt,
                    SUM(leads_user_cnt)   leadsUserCnt,
                    SUM(actual_consume) actualConsume,
                    SUM(leads_cost)      leadsCost,
                    month                   month
                FROM
                    yiche_pcwap_channel_month
                WHERE
                    month = #{month}
                UNION
                SELECT
                    SUM(leads_cnt)       leadsCnt,
                    SUM(leads_user_cnt)   leadsUserCnt,
                    SUM(actual_consume) actualConsume,
                    SUM(leads_cost)      leadsCost,
                    month                   month
                FROM
                    yiche_third_party_channel_month
                WHERE
                    month = #{month}
            ) yiche_sum_month_report
    </select>

    <select id="selectPlatformDataMonth" parameterType="map" resultType="com.yiche.smp.common.GatherYicheAPP">
        SELECT
            platformName  platformName,
            leadsCnt      leadsCnt,
            leadsUserCnt  leadsUserCnt,
            actualConsume actualConsume,
            leadsCost     leadsCost,
            month         month
        FROM
            (
                SELECT
                    platform_name       platformName,
                    SUM(leads_cnt)      leadsCnt,
                    SUM(leads_user_cnt) leadsUserCnt,
                    SUM(actual_consume) actualConsume,
                    sum(leads_cost)     leadsCost,
                    month               month
                FROM
                    yiche_yiche_channel_month
                WHERE
                    month = #{month}
                UNION
                SELECT
                    platform_name       platformName,
                    SUM(leads_cnt)      leadsCnt,
                    SUM(leads_user_cnt) leadsUserCnt,
                    SUM(actual_consume) actualConsume,
                    sum(leads_cost)     leadsCost,
                    month               month
                FROM
                    yiche_quote_channel_month
                WHERE
                    month = #{month}
                UNION
                SELECT
                    platform_name       platformName,
                    SUM(leads_cnt)      leadsCnt,
                    SUM(leads_user_cnt) leadsUserCnt,
                    SUM(actual_consume) actualConsume,
                    sum(leads_cost)     leadsCost,
                    month               month
                FROM
                    yiche_pcwap_channel_month
                WHERE
                    month = #{month}
                UNION
                SELECT
                    platform_name       platformName,
                    SUM(leads_cnt)      leadsCnt,
                    SUM(leads_user_cnt) leadsUserCnt,
                    SUM(actual_consume) actualConsume,
                    sum(leads_cost)     leadsCost,
                    month               month
                FROM
                    yiche_third_party_channel_month
                WHERE
                    month = #{month}
            ) yiche_platformName_month_report
        WHERE platformName = #{platformName}
    </select>

    <select id="selectplatformChannelDataMonth" parameterType="map" resultType="com.yiche.smp.common.YichePlatform">
        SELECT
        platformName,
        channelName,
        leadsCnt,
        leadsUserCnt,
        actualConsume,
        leadsCost,
        month,
        newUserCnt,
        newUserCost,
        systemId
        FROM (
        SELECT
        platform_name   platformName,
        channel_name    channelName,
        leads_cnt       leadsCnt,
        leads_user_cnt  leadsUserCnt,
        actual_consume actualConsume,
        leads_cost        leadsCost,
        month              month,
        new_user_cnt    newUserCnt,
        new_user_cost   newUserCost,
        system_id       systemId
        FROM
        yiche_yiche_channel_month
        WHERE
        month = #{month} AND system_id =#{systemId}
        UNION
        SELECT
        platform_name   platformName,
        channel_name    channelName,
        leads_cnt       leadsCnt,
        leads_user_cnt  leadsUserCnt,
        actual_consume actualConsume,
        leads_cost        leadsCost,
        month              month,
        new_user_cnt    newUserCnt,
        new_user_cost   newUserCost,
        system_id       systemId
        FROM
        yiche_quote_channel_month
        WHERE
        month = #{month} AND system_id =#{systemId}
        ) yiche_quote_platform_month
        WHERE platformName=#{platformName}
    </select>

    <select id="selectPcwapchannelDataMonth" parameterType="map" resultType="com.yiche.smp.common.YichePlatform">
        SELECT
        platform_name platformName,
        channel_name channelName,
        leads_cnt leadsCnt,
        leads_user_cnt leadsUserCnt,
        actual_consume actualConsume,
        leads_cost leadsCost,
        month month,
        terminal_id terminalId,
        cooperation_day cooperationDay
        FROM
        yiche_pcwap_channel_month
        WHERE
        month = #{month} AND terminal_id =#{terminalId}
    </select>

    <select id="selectThirdPartychannelDataMonth" parameterType="map" resultType="com.yiche.smp.common.YichePlatform">
        SELECT
            platform_name platformName,
            channel_name channelName,
            leads_cnt leadsCnt,
            leads_user_cnt leadsUserCnt,
            actual_consume actualConsume,
            leads_cost leadsCost,
            month month
        FROM smp.yiche_third_party_channel_month
        WHERE month=#{month}
    </select>

    <insert id="insertPcwapMonthReport" parameterType="com.yiche.smp.common.YichePlatform">
        INSERT INTO smp.yiche_pcwap_channel_month(platform_id,platform_name, channel_name, leads_cnt, leads_user_cnt, actual_consume, leads_cost,terminal_id, month, cooperation_day)
        VALUES (#{platformId}, #{platformName}, #{channelName}, #{leadsCnt}, #{leadsUserCnt}, #{actualConsume},
                               #{leadsCost},#{terminalId},#{month}, #{cooperationDay})
    </insert>

    <insert id="insertQuoteMonthReport" parameterType="com.yiche.smp.common.YichePlatform">
        INSERT INTO smp.yiche_quote_channel_month(platform_id, platform_name, channel_name, leads_cnt, leads_user_cnt, actual_consume, leads_cost, new_user_cnt, new_user_cost, system_id, month)
        VALUES(#{platformId}, #{platformName}, #{channelName}, #{leadsCnt}, #{leadsUserCnt}, #{actualConsume},
               #{leadsCost},#{newUserCnt},#{newUserCost},#{systemId},#{month})
    </insert>

    <insert id="insertyicheMonthReport" parameterType="com.yiche.smp.common.YichePlatform">
        INSERT INTO smp.yiche_yiche_channel_month(platform_id, platform_name, channel_name, leads_cnt, leads_user_cnt, actual_consume, leads_cost, new_user_cnt, new_user_cost, system_id, month)
        VALUES(#{platformId}, #{platformName}, #{channelName}, #{leadsCnt}, #{leadsUserCnt}, #{actualConsume},
                              #{leadsCost},#{newUserCnt},#{newUserCost},#{systemId},#{month})
    </insert>

    <insert id="insertThirdMonthReport" parameterType="com.yiche.smp.common.YichePlatform">
        INSERT INTO smp.yiche_third_party_channel_month(platform_id, platform_name, channel_name, leads_cnt, leads_user_cnt, actual_consume,leads_cost,leads_user_cost, month)
        VALUES(#{platformId}, #{platformName}, #{channelName}, #{leadsCnt}, #{leadsUserCnt}, #{actualConsume},
                              #{leadsCost},#{leadsUserCost}, #{month})
    </insert>

    <select id="selectLastMonth" resultType="java.lang.String">
        SELECT month FROM smp.yiche_pcwap_channel_month ORDER BY id DESC LIMIT 1
    </select>
</mapper>