<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiche.smp.mapper.DisplayWeekReportMapper">
    <select id="selectSumDataWeek" parameterType="map" resultType="com.yiche.smp.common.GatherYicheAPP">
      SELECT
            SUM(leadsCnt)       leadsCnt,
            SUM(leadsUserCnt)   leadsUserCnt,
            SUM(actualConsume)  actualConsume,
            SUM(leadsCost)      leadsCost,
            FORMAT(SUM(leadsCnt),0)    qfLeadsCnt,
            FORMAT(SUM(leadsUserCnt),0)   qfLeadsUserCnt,
            FORMAT(SUM(actualConsume),2)  qfActualConsume,
            FORMAT(SUM(leadsCost),2) qfLeadsCost,
            week                  week
        FROM
            (
                SELECT
                    SUM(leads_cnt)       leadsCnt,
                    SUM(leads_user_cnt)  leadsUserCnt,
                    SUM(actual_consume) actualConsume,
                    SUM(leads_cost)      leadsCost,
                    week                  week
                FROM
                    yiche_yiche_channel_week
                WHERE
                    week = #{week}
                    GROUP BY week
                UNION
                SELECT
                    SUM(leads_cnt)       leadsCnt,
                    SUM(leads_user_cnt)  leadsUserCnt,
                    SUM(actual_consume) actualConsume,
                    SUM(leads_cost)      leadsCost,
                    week                   week
                FROM
                    yiche_quote_channel_week
                WHERE
                    week = #{week}
                    GROUP BY week
                UNION
                SELECT
                    SUM(leads_cnt)       leadsCnt,
                    SUM(leads_user_cnt)   leadsUserCnt,
                    SUM(actual_consume) actualConsume,
                    SUM(leads_cost)      leadsCost,
                    week                   week
                FROM
                    yiche_pcwap_channel_week
                WHERE
                    week = #{week}
                    GROUP BY week
                UNION
                SELECT
                    SUM(leads_cnt)       leadsCnt,
                    SUM(leads_user_cnt)   leadsUserCnt,
                    SUM(actual_consume) actualConsume,
                    SUM(leads_cost)      leadsCost,
                    week                   week
                FROM
                    yiche_third_party_channel_week
                WHERE
                    week = #{week}
                    GROUP BY week
            ) yiche_sum_week_report
            GROUP BY week
    </select>

    <select id="selectPlatformDataWeek" parameterType="map" resultType="com.yiche.smp.common.GatherYicheAPP">
        SELECT
            platformName   platformName,
            leadsCnt       leadsCnt,
            leadsUserCnt   leadsUserCnt,
            actualConsume actualConsume,
            leadsCost      leadsCost,
            FORMAT(leadsCnt,0)    qfLeadsCnt,
            FORMAT(leadsUserCnt,0)   qfLeadsUserCnt,
            FORMAT(actualConsume,2)  qfActualConsume,
            FORMAT(leadsCost,2) qfLeadsCost,
            week            week
        FROM
            (
                SELECT
                    "易车APP"             platformName,
                    SUM(leads_cnt)       leadsCnt,
                    SUM(leads_user_cnt)  leadsUserCnt,
                    SUM(actual_consume) actualConsume,
                    sum(leads_cost)     leadsCost,
                    week                   week
                FROM
                    yiche_yiche_channel_week
                WHERE
                    week = #{week}
                    GROUP BY week
                UNION
                SELECT
                    "报价APP"              platformName,
                    SUM(leads_cnt)       leadsCnt,
                    SUM(leads_user_cnt)  leadsUserCnt,
                    SUM(actual_consume) actualConsume,
                    sum(leads_cost)     leadsCost,
                    week                   week
                FROM
                    yiche_quote_channel_week
                WHERE
                    week = #{week}
                    GROUP BY week
                UNION
                SELECT
                    "PCWAP"             platformName,
                    SUM(leads_cnt)       leadsCnt,
                    SUM(leads_user_cnt)   leadsUserCnt,
                    SUM(actual_consume) actualConsume,
                    sum(leads_cost)     leadsCost,
                    week                   week
                FROM
                    yiche_pcwap_channel_week
                WHERE
                    week = #{week}
                    GROUP BY week
                UNION
                SELECT
                    "第三方"              platformName,
                    SUM(leads_cnt)       leadsCnt,
                    SUM(leads_user_cnt)   leadsUserCnt,
                    SUM(actual_consume) actualConsume,
                    sum(leads_cost)     leadsCost,
                    week                   week
                FROM
                    yiche_third_party_channel_week
                WHERE
                    week = #{week}
                    GROUP BY week
            ) yiche_platformName_week_report
        WHERE platformName=#{platformName}
    </select>

    <select id="selectplatformChannelDataWeek" parameterType="map" resultType="com.yiche.smp.common.YichePlatform">
        SELECT
            platformName,
            channelName,
            leadsCnt,
            leadsUserCnt,
            actualConsume,
            leadsCost,
            week,
            newUserCnt,
            newUserCost,
            FORMAT(leadsCnt,0)    qfLeadsCnt,
            FORMAT(leadsUserCnt,0)   qfLeadsUserCnt,
            FORMAT(actualConsume,2)  qfActualConsume,
            FORMAT(leadsCost,2) qfLeadsCost,
            FORMAT(newUserCnt,0) qfNewUserCnt,
            FORMAT(newUserCost,2) qfNewUserCost,
            systemId
        FROM (
                 SELECT
                     platform_name   platformName,
                     channel_name    channelName,
                     leads_cnt       leadsCnt,
                     leads_user_cnt  leadsUserCnt,
                     actual_consume actualConsume,
                     leads_cost        leadsCost,
                     week              week,
                     new_user_cnt    newUserCnt,
                     new_user_cost   newUserCost,
                     system_id       systemId
                 FROM
                     yiche_yiche_channel_week
                 WHERE
                     week = #{week} AND system_id =#{systemId}
                 UNION
                 SELECT
                     platform_name   platformName,
                     channel_name    channelName,
                     leads_cnt       leadsCnt,
                     leads_user_cnt  leadsUserCnt,
                     actual_consume actualConsume,
                     leads_cost        leadsCost,
                     week              week,
                     new_user_cnt    newUserCnt,
                     new_user_cost   newUserCost,
                     system_id       systemId
                 FROM
                     yiche_quote_channel_week
                 WHERE
                     week = #{week} AND system_id =#{systemId}
             ) yiche_quote_platform_week
        WHERE platformName=#{platformName}
    </select>

    <select id="selectPcwapchannelDataWeek" parameterType="map" resultType="com.yiche.smp.common.YichePlatform">
        SELECT
            platform_name platformName,
            channel_name channelName,
            leads_cnt leadsCnt,
            leads_user_cnt leadsUserCnt,
            actual_consume actualConsume,
            leads_cost leadsCost,
            FORMAT(leads_cnt,0)    qfLeadsCnt,
            FORMAT(leads_user_cnt,0)   qfLeadsUserCnt,
            FORMAT(actual_consume,2)  qfActualConsume,
            FORMAT(leads_cost,2) qfLeadsCost,
            week week,
            terminal_id terminal,
            cooperation_day cooperation
        FROM
            yiche_pcwap_channel_week
        WHERE
            week = #{week} AND terminal_id =#{terminalId}
    </select>

    <select id="selectThirdPartychannelDataWeek" parameterType="map" resultType="com.yiche.smp.common.YichePlatform">
        SELECT
            platform_name platformName,
            channel_name channelName,
            leads_cnt leadsCnt,
            leads_user_cnt leadsUserCnt,
            actual_consume actualConsume,
            leads_cost leadsCost,
            FORMAT(leads_cnt,0)    qfLeadsCnt,
            FORMAT(leads_user_cnt,0)   qfLeadsUserCnt,
            FORMAT(actual_consume,2)  qfActualConsume,
            FORMAT(leads_cost,2) qfLeadsCost,
            week week
        FROM smp.yiche_third_party_channel_week
        WHERE week=#{week}

    </select>

    <insert id="insertPcwapWeekReport" parameterType="com.yiche.smp.common.YichePlatform">
        INSERT INTO smp.yiche_pcwap_channel_week (platform_id, platform_name,channel_id ,channel_name, leads_cnt, leads_user_cnt, actual_consume, leads_cost, terminal_id, week, week_detail, cooperation_day,channel_name_path)
        VALUES
            (#{platformId}, #{platformName},#{channelId}, #{channelName}, #{leadsCnt}, #{leadsUserCnt}, #{actualConsume},
                            #{leadsCost}, #{terminalId}, #{week}, #{weekDetail}, #{cooperationDay},#{channelNamePath})
    </insert>

    <insert id="insertQuoteWeekReport" parameterType="com.yiche.smp.common.YichePlatform">
        INSERT  INTO  smp.yiche_quote_channel_week (platform_id,platform_name, channel_name, leads_cnt, leads_user_cnt, actual_consume, leads_cost, new_user_cnt, new_user_cost, system_id, week, week_detail, cooperation_day)
        VALUES
            (#{platformId}, #{platformName}, #{channelName}, #{leadsCnt}, #{leadsUserCnt}, #{actualConsume},
                            #{leadsCost},#{newUserCnt},#{newUserCost}, #{systemId}, #{week}, #{weekDetail}, #{cooperationDay})
    </insert>

    <insert id="insertyicheWeekReport" parameterType="com.yiche.smp.common.YichePlatform">
        INSERT  INTO  smp.yiche_yiche_channel_week(platform_id,platform_name, channel_name, leads_cnt, leads_user_cnt, actual_consume, leads_cost, new_user_cnt, new_user_cost, system_id, week, week_detail, cooperation_day)
        VALUES
        (#{platformId}, #{platformName}, #{channelName}, #{leadsCnt}, #{leadsUserCnt}, #{actualConsume},
        #{leadsCost},#{newUserCnt},#{newUserCost}, #{systemId}, #{week}, #{weekDetail}, #{cooperationDay})
    </insert>

    <insert id="insertThirdWeekReport" parameterType="com.yiche.smp.common.YichePlatform">
        INSERT  INTO  smp.yiche_third_party_channel_week(platform_id, platform_name,channel_id ,channel_name, leads_cnt, leads_user_cnt, actual_consume, leads_cost,leads_user_cost,week, week_detail, cooperation_day)
        VALUES(#{platformId}, #{platformName},#{channelId},#{channelName}, #{leadsCnt}, #{leadsUserCnt}, #{actualConsume},
                              #{leadsCost},#{leadsUserCost}, #{week}, #{weekDetail}, #{cooperationDay})
    </insert>

    <select id="selectlastWeek" resultType="java.lang.String">
        SELECT week FROM smp.yiche_yiche_channel_week ORDER BY id DESC LIMIT 1
    </select>
</mapper>