<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiche.smp.mapper.ImpChannelConsumeDataMapper" >
  <resultMap id="BaseResultMap" type="com.yiche.smp.domain.ImpChannelConsumeData" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fileName" property="filename" jdbcType="VARCHAR" />
    <result column="saveFileNmae" property="savefilenmae" jdbcType="VARCHAR" />
    <result column="uploadTime" property="uploadtime" jdbcType="TIMESTAMP" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="filePath" property="filepath" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="message" property="message" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, fileName, saveFileNmae, uploadTime, operator, filePath, status, message
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yiche.smp.domain.ImpChannelConsumeDataExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from imp_channel_consume_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from imp_channel_consume_data
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from imp_channel_consume_data
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yiche.smp.domain.ImpChannelConsumeDataExample" >
    delete from imp_channel_consume_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yiche.smp.domain.ImpChannelConsumeData" >
    insert into imp_channel_consume_data (id, fileName, saveFileNmae, 
      uploadTime, operator, filePath, 
      status, message)
    values (#{id,jdbcType=INTEGER}, #{filename,jdbcType=VARCHAR}, #{savefilenmae,jdbcType=VARCHAR}, 
      #{uploadtime,jdbcType=TIMESTAMP}, #{operator,jdbcType=VARCHAR}, #{filepath,jdbcType=VARCHAR}, 
      #{status,jdbcType=BIT}, #{message,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yiche.smp.domain.ImpChannelConsumeData" >
    insert into imp_channel_consume_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="filename != null" >
        fileName,
      </if>
      <if test="savefilenmae != null" >
        saveFileNmae,
      </if>
      <if test="uploadtime != null" >
        uploadTime,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="filepath != null" >
        filePath,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="message != null" >
        message,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="filename != null" >
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="savefilenmae != null" >
        #{savefilenmae,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null" >
        #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null" >
        #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yiche.smp.domain.ImpChannelConsumeDataExample" resultType="java.lang.Integer" >
    select count(*) from imp_channel_consume_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update imp_channel_consume_data
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.filename != null" >
        fileName = #{record.filename,jdbcType=VARCHAR},
      </if>
      <if test="record.savefilenmae != null" >
        saveFileNmae = #{record.savefilenmae,jdbcType=VARCHAR},
      </if>
      <if test="record.uploadtime != null" >
        uploadTime = #{record.uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operator != null" >
        operator = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.filepath != null" >
        filePath = #{record.filepath,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=BIT},
      </if>
      <if test="record.message != null" >
        message = #{record.message,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update imp_channel_consume_data
    set id = #{record.id,jdbcType=INTEGER},
      fileName = #{record.filename,jdbcType=VARCHAR},
      saveFileNmae = #{record.savefilenmae,jdbcType=VARCHAR},
      uploadTime = #{record.uploadtime,jdbcType=TIMESTAMP},
      operator = #{record.operator,jdbcType=VARCHAR},
      filePath = #{record.filepath,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=BIT},
      message = #{record.message,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yiche.smp.domain.ImpChannelConsumeData" >
    update imp_channel_consume_data
    <set >
      <if test="filename != null" >
        fileName = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="savefilenmae != null" >
        saveFileNmae = #{savefilenmae,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null" >
        uploadTime = #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null" >
        filePath = #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yiche.smp.domain.ImpChannelConsumeData" >
    update imp_channel_consume_data
    set fileName = #{filename,jdbcType=VARCHAR},
      saveFileNmae = #{savefilenmae,jdbcType=VARCHAR},
      uploadTime = #{uploadtime,jdbcType=TIMESTAMP},
      operator = #{operator,jdbcType=VARCHAR},
      filePath = #{filepath,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      message = #{message,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>