<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiche.smp.mapper.SellTrendMapper" >
  <resultMap id="BaseResultMap" type="com.yiche.smp.domain.SellTrend" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="monthdata" property="monthdata" jdbcType="VARCHAR" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="clue_number" property="clueNumber" jdbcType="DOUBLE" />
    <result column="dealer_number" property="dealerNumber" jdbcType="DOUBLE" />
    <result column="store_clue_number" property="storeClueNumber" jdbcType="DOUBLE" />
    <result column="sell_number" property="sellNumber" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, monthdata, brand, clue_number, dealer_number, store_clue_number, sell_number
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yiche.smp.domain.SellTrendExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sell_trend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sell_trend
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sell_trend
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yiche.smp.domain.SellTrendExample" >
    delete from sell_trend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yiche.smp.domain.SellTrend" >
    insert into sell_trend (id, monthdata, brand, 
      clue_number, dealer_number, store_clue_number, 
      sell_number)
    values (#{id,jdbcType=INTEGER}, #{monthdata,jdbcType=VARCHAR}, #{brand,jdbcType=VARCHAR}, 
      #{clueNumber,jdbcType=DOUBLE}, #{dealerNumber,jdbcType=DOUBLE}, #{storeClueNumber,jdbcType=DOUBLE}, 
      #{sellNumber,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.yiche.smp.domain.SellTrend" >
    insert into sell_trend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="monthdata != null" >
        monthdata,
      </if>
      <if test="brand != null" >
        brand,
      </if>
      <if test="clueNumber != null" >
        clue_number,
      </if>
      <if test="dealerNumber != null" >
        dealer_number,
      </if>
      <if test="storeClueNumber != null" >
        store_clue_number,
      </if>
      <if test="sellNumber != null" >
        sell_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="monthdata != null" >
        #{monthdata,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="clueNumber != null" >
        #{clueNumber,jdbcType=DOUBLE},
      </if>
      <if test="dealerNumber != null" >
        #{dealerNumber,jdbcType=DOUBLE},
      </if>
      <if test="storeClueNumber != null" >
        #{storeClueNumber,jdbcType=DOUBLE},
      </if>
      <if test="sellNumber != null" >
        #{sellNumber,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yiche.smp.domain.SellTrendExample" resultType="java.lang.Integer" >
    select count(*) from sell_trend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sell_trend
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.monthdata != null" >
        monthdata = #{record.monthdata,jdbcType=VARCHAR},
      </if>
      <if test="record.brand != null" >
        brand = #{record.brand,jdbcType=VARCHAR},
      </if>
      <if test="record.clueNumber != null" >
        clue_number = #{record.clueNumber,jdbcType=DOUBLE},
      </if>
      <if test="record.dealerNumber != null" >
        dealer_number = #{record.dealerNumber,jdbcType=DOUBLE},
      </if>
      <if test="record.storeClueNumber != null" >
        store_clue_number = #{record.storeClueNumber,jdbcType=DOUBLE},
      </if>
      <if test="record.sellNumber != null" >
        sell_number = #{record.sellNumber,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sell_trend
    set id = #{record.id,jdbcType=INTEGER},
      monthdata = #{record.monthdata,jdbcType=VARCHAR},
      brand = #{record.brand,jdbcType=VARCHAR},
      clue_number = #{record.clueNumber,jdbcType=DOUBLE},
      dealer_number = #{record.dealerNumber,jdbcType=DOUBLE},
      store_clue_number = #{record.storeClueNumber,jdbcType=DOUBLE},
      sell_number = #{record.sellNumber,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yiche.smp.domain.SellTrend" >
    update sell_trend
    <set >
      <if test="monthdata != null" >
        monthdata = #{monthdata,jdbcType=VARCHAR},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="clueNumber != null" >
        clue_number = #{clueNumber,jdbcType=DOUBLE},
      </if>
      <if test="dealerNumber != null" >
        dealer_number = #{dealerNumber,jdbcType=DOUBLE},
      </if>
      <if test="storeClueNumber != null" >
        store_clue_number = #{storeClueNumber,jdbcType=DOUBLE},
      </if>
      <if test="sellNumber != null" >
        sell_number = #{sellNumber,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yiche.smp.domain.SellTrend" >
    update sell_trend
    set monthdata = #{monthdata,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      clue_number = #{clueNumber,jdbcType=DOUBLE},
      dealer_number = #{dealerNumber,jdbcType=DOUBLE},
      store_clue_number = #{storeClueNumber,jdbcType=DOUBLE},
      sell_number = #{sellNumber,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--根据品牌名称和月份查询-->
  <select id="getSelltrendsByNameAndMonthData" parameterType="HashMap" resultMap="BaseResultMap">
    SELECT * from sell_trend where brand=#{brandName} AND monthdata=#{monthData}
  </select>
</mapper>